In [1]:
import networkx as next
import pandas as pd
#import numpy as np
#import matplotlib.pyplot as plt

In [1]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = []
[unique_list.append(x) for x in my_list if x not in unique_list]
print(unique_list) # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [14]:
my_new_list = [1,2,3,6]
my_list.extend([1,2,3,6])
print(my_list)
unique_list = []
[unique_list.append(x) for x in my_list if x not in unique_list]
print(unique_list)

[1, 2, 2, 3, 4, 4, 5, 1, 2, 3, 6, 1, 2, 3, 6, 1, 2, 3, 6, 1, 2, 3, 6]
[1, 2, 3, 4, 5, 6]

In [1]:
my_list_of_lists = [[1,2], [1,2], [2,3], [1,2], [2,4]]

In [3]:
unique_list = []
[unique_list.append(x) for x in my_list_of_lists if x not in unique_list]
print(unique_list)

[[1, 2], [2, 3], [2, 4]]

In [2]:
my_list_of_lists = [(1,2), (1,2), (2,3), (1,2), (2,4)]

In [3]:
unique_list = []
[unique_list.append(x) for x in my_list_of_lists if x not in unique_list]
print(unique_list)

[(1, 2), (2, 3), (2, 4)]

In [5]:
data = pd.read_csv('37_nodes_system_data.csv')

In [6]:
data.head()

   u   v    km  lambda  Tao_RP  Tao_SW
0  1   2  3.52   0.352    1.90    0.25
1  1  13  1.57   0.157    2.02    0.28
2  1  17  1.52   0.152    1.70    0.28
3  1  27  3.85   0.385    1.54    0.27
4  2  30  1.16   0.116    2.38    0.26

In [9]:
data['km']

0     3.52
1     1.57
2     1.52
3     3.85
4     1.16
5     1.56
6     2.03
7     1.16
8     1.56
9     2.12
10    1.76
11    1.93
12    1.60
13    2.16
14    0.90
15    3.15
16    1.14
17    1.24
18    2.35
19    1.54
20    1.78
21    1.82
22    1.57
23    1.65
24    2.10
25    1.06
26    1.25
27    1.54
28    2.03
29    1.33
30    1.80
31    1.99
32    2.12
33    1.44
34    1.63
35    1.82
Name: km, dtype: float64

In [13]:
len(data)

36

In [18]:
[
    (data['u'].iloc[i], data['v'].iloc[i], {'lambda': data['lambda'].iloc[i]), 'Tao_RP': data['Tao_RP'].iloc[i], 'Tao_SW': data['Tao_SW'].iloc[i]}) for i in range(len(data))
]

SyntaxError: closing parenthesis ')' does not match opening parenthesis '{' (3483271264.py, line 2)

In [21]:
[
    (
        data['u'].iloc[i],
        data['v'].iloc[i],
        {
            'lambda': data['lambda'].iloc[i],
            'Tao_RP': data['Tao_RP'].iloc[i],
            'Tao_SW': data['Tao_SW'].iloc[i]
        }
    ) for i in range(len(data))
]

[(np.int64(1),
  np.int64(2),
  {'lambda': np.float64(0.352),
   'Tao_RP': np.float64(1.9),
   'Tao_SW': np.float64(0.25)}),
 (np.int64(1),
  np.int64(13),
  {'lambda': np.float64(0.157),
   'Tao_RP': np.float64(2.02),
   'Tao_SW': np.float64(0.28)}),
 (np.int64(1),
  np.int64(17),
  {'lambda': np.float64(0.152),
   'Tao_RP': np.float64(1.7),
   'Tao_SW': np.float64(0.28)}),
 (np.int64(1),
  np.int64(27),
  {'lambda': np.float64(0.385),
   'Tao_RP': np.float64(1.54),
   'Tao_SW': np.float64(0.27)}),
 (np.int64(2),
  np.int64(30),
  {'lambda': np.float64(0.116),
   'Tao_RP': np.float64(2.38),
   'Tao_SW': np.float64(0.26)}),
 (np.int64(2),
  np.int64(40),
  {'lambda': np.float64(0.156),
   'Tao_RP': np.float64(2.17),
   'Tao_SW': np.float64(0.27)}),
 (np.int64(2),
  np.int64(50),
  {'lambda': np.float64(0.203),
   'Tao_RP': np.float64(2.27),
   'Tao_SW': np.float64(0.22)}),
 (np.int64(5),
  np.int64(60),
  {'lambda': np.float64(0.116),
   'Tao_RP': np.float64(2.06),
   'Tao_SW': np.float64(0.24)}),
 (np.int64(5),
  np.int64(70),
  {'lambda': np.float64(0.156),
   'Tao_RP': np.float64(2.2),
   'Tao_SW': np.float64(0.28)}),
 (np.int64(5),
  np.int64(80),
  {'lambda': np.float64(0.212),
   'Tao_RP': np.float64(1.93),
   'Tao_SW': np.float64(0.25)}),
 (np.int64(8),
  np.int64(90),
  {'lambda': np.float64(0.176),
   'Tao_RP': np.float64(1.99),
   'Tao_SW': np.float64(0.3)}),
 (np.int64(8),
  np.int64(10),
  {'lambda': np.float64(0.193),
   'Tao_RP': np.float64(1.69),
   'Tao_SW': np.float64(0.28)}),
 (np.int64(8),
  np.int64(11),
  {'lambda': np.float64(0.16),
   'Tao_RP': np.float64(1.52),
   'Tao_SW': np.float64(0.23)}),
 (np.int64(11),
  np.int64(12),
  {'lambda': np.float64(0.216),
   'Tao_RP': np.float64(2.43),
   'Tao_SW': np.float64(0.23)}),
 (np.int64(13),
  np.int64(14),
  {'lambda': np.float64(0.09),
   'Tao_RP': np.float64(2.49),
   'Tao_SW': np.float64(0.23)}),
 (np.int64(13),
  np.int64(15),
  {'lambda': np.float64(0.315),
   'Tao_RP': np.float64(2.43),
   'Tao_SW': np.float64(0.23)}),
 (np.int64(15),
  np.int64(16),
  {'lambda': np.float64(0.114),
   'Tao_RP': np.float64(1.69),
   'Tao_SW': np.float64(0.27)}),
 (np.int64(17),
  np.int64(18),
  {'lambda': np.float64(0.124),
   'Tao_RP': np.float64(1.97),
   'Tao_SW': np.float64(0.26)}),
 (np.int64(17),
  np.int64(19),
  {'lambda': np.float64(0.235),
   'Tao_RP': np.float64(2.07),
   'Tao_SW': np.float64(0.24)}),
 (np.int64(19),
  np.int64(20),
  {'lambda': np.float64(0.154),
   'Tao_RP': np.float64(2.13),
   'Tao_SW': np.float64(0.29)}),
 (np.int64(19),
  np.int64(21),
  {'lambda': np.float64(0.178),
   'Tao_RP': np.float64(1.64),
   'Tao_SW': np.float64(0.25)}),
 (np.int64(19),
  np.int64(22),
  {'lambda': np.float64(0.182),
   'Tao_RP': np.float64(2.07),
   'Tao_SW': np.float64(0.29)}),
 (np.int64(22),
  np.int64(23),
  {'lambda': np.float64(0.157),
   'Tao_RP': np.float64(2.41),
   'Tao_SW': np.float64(0.29)}),
 (np.int64(22),
  np.int64(24),
  {'lambda': np.float64(0.165),
   'Tao_RP': np.float64(2.49),
   'Tao_SW': np.float64(0.21)}),
 (np.int64(22),
  np.int64(25),
  {'lambda': np.float64(0.21),
   'Tao_RP': np.float64(1.65),
   'Tao_SW': np.float64(0.22)}),
 (np.int64(25),
  np.int64(26),
  {'lambda': np.float64(0.106),
   'Tao_RP': np.float64(2.1),
   'Tao_SW': np.float64(0.21)}),
 (np.int64(27),
  np.int64(28),
  {'lambda': np.float64(0.125),
   'Tao_RP': np.float64(1.83),
   'Tao_SW': np.float64(0.27)}),
 (np.int64(27),
  np.int64(29),
  {'lambda': np.float64(0.154),
   'Tao_RP': np.float64(1.97),
   'Tao_SW': np.float64(0.26)}),
 (np.int64(27),
  np.int64(30),
  {'lambda': np.float64(0.203),
   'Tao_RP': np.float64(2.25),
   'Tao_SW': np.float64(0.24)}),
 (np.int64(30),
  np.int64(31),
  {'lambda': np.float64(0.133),
   'Tao_RP': np.float64(1.96),
   'Tao_SW': np.float64(0.25)}),
 (np.int64(30),
  np.int64(32),
  {'lambda': np.float64(0.18),
   'Tao_RP': np.float64(2.09),
   'Tao_SW': np.float64(0.22)}),
 (np.int64(30),
  np.int64(33),
  {'lambda': np.float64(0.199),
   'Tao_RP': np.float64(1.51),
   'Tao_SW': np.float64(0.24)}),
 (np.int64(33),
  np.int64(34),
  {'lambda': np.float64(0.212),
   'Tao_RP': np.float64(2.16),
   'Tao_SW': np.float64(0.22)}),
 (np.int64(33),
  np.int64(35),
  {'lambda': np.float64(0.144),
   'Tao_RP': np.float64(1.76),
   'Tao_SW': np.float64(0.2)}),
 (np.int64(35),
  np.int64(36),
  {'lambda': np.float64(0.163),
   'Tao_RP': np.float64(1.76),
   'Tao_SW': np.float64(0.23)}),
 (np.int64(35),
  np.int64(37),
  {'lambda': np.float64(0.182),
   'Tao_RP': np.float64(2.1),
   'Tao_SW': np.float64(0.26)})]

In [2]:
load_data = pd.read_csv('37_nodes_load_data.csv')

In [3]:
load_data['NC']

0     177
1     214
2     222
3     166
4     214
5     294
6     302
7     171
8     279
9     208
10    260
11    305
12    303
13    140
14    153
15    286
16    251
17    144
18    235
19    140
20    222
21    220
22    217
23    231
24    196
25    193
26    271
27    198
28    222
29    168
30    268
31    245
32    200
33    270
34    258
35    227
Name: NC, dtype: int64

In [4]:
load_data.head()

   Node   NC  L_MW
0     2  177  0.99
1     3  214  2.01
2     4  222  0.41
3     5  166  0.36
4     6  214  1.49

In [10]:
load_data[load_data['Node']==4]['NC']

2    222
Name: NC, dtype: int64

In [11]:
dav = load_data[load_data['Node']==4]['NC']

In [12]:
dav

2    222
Name: NC, dtype: int64

In [14]:
dav.iloc[0]

np.int64(222)

In [15]:
load_data[load_data['Node']==4]['NC'].iloc[0]

np.int64(222)